<div class="navbar">
  <div class="logo">
    <img src="../../../assets/pic1.png" alt="Image 1" />
    <img src="../../../assets/pic2.png" alt="Image 2" />
  </div>
  <button class="btn btn-danger btn-lg" (click)="logout()">Logout</button>
</div>
<div class="admin-container">
  <div class="heading">
    <h1
      style="margin: 10px 0 30px"
      style="font-weight: bold; font-style: italic"
    >
      Admin Portal
    </h1>
  </div>

  <div class="admin-portal-grid">
    <a
      type="button"
      class="btn btn-success btn-lg"
      href="/addDrug"
      style="font-weight: bold"
    >
      Add New Drugs
    </a>

    <a
      type="button"
      class="btn btn-success btn-lg"
      href="/addSupplier"
      style="font-weight: bold"
    >
      Add New Drug Supplier
    </a>

    <a
      type="button"
      class="btn btn-success btn-lg"
      href="/createSalesReport"
      style="font-weight: bold"
    >
      Generate New Sales Report
    </a>

    <a
      type="button"
      class="btn btn-primary btn-lg"
      href="/fetchAllDrugs"
      style="font-weight: bold"
    >
      Fetch All Drugs
    </a>

    <a
      type="button"
      class="btn btn-primary btn-lg"
      href="/getAllOrders"
      style="font-weight: bold"
    >
      Fetch All Order Details
    </a>

    <a
      type="button"
      class="btn btn-primary btn-lg"
      href="/getAllSuppliers"
      style="font-weight: bold"
    >
      Fetch All Supplier Details
    </a>

    <a
      type="button"
      class="btn btn-primary btn-lg"
      href="/getTotalAmount"
      style="font-weight: bold"
    >
      Total Order Amount
    </a>

    <a
      type="button"
      class="btn btn-primary btn-lg"
      href="/getAllSalesReports"
      style="font-weight: bold"
    >
      Fetch all Sales Reports
    </a>

    <a
      type="button"
      class="btn btn-primary btn-lg"
      href="/getReportById"
      style="font-weight: bold"
    >
      Fetch Sales Report by Report ID
    </a>

    <a
      type="button"
      class="btn btn-primary btn-lg"
      href="/getReportByOrderID"
      style="font-weight: bold"
    >
      Fetch Sales Report by Order ID
    </a>

    <!-- <a
      type="button"
      class="btn btn-warning btn-lg"
      href="/updateDrug"
      style="font-weight: bold"
    >
      Update Drug Details
    </a> -->

    <a
      type="button"
      class="btn btn-warning btn-lg"
      href="/updateSupplier"
      style="font-weight: bold"
    >
      Update Supplier Details
    </a>

    <a
      type="button"
      class="btn btn-warning btn-lg"
      href="/verifyOrder"
      style="font-weight: bold"
    >
      Verify & Confirm Order
    </a>

    <a
      type="button"
      class="btn btn-warning btn-lg"
      href="/pickupOrder"
      style="font-weight: bold"
    >
      Pickup Order
    </a>

    <a
      type="button"
      class="btn btn-danger btn-lg"
      href="/deleteDrug"
      style="font-weight: bold"
    >
      Delete Drug Details
    </a>

    <a
      type="button"
      class="btn btn-danger btn-lg"
      href="/deleteSupplier"
      style="font-weight: bold"
    >
      Delete Supplier Details
    </a>

    <a
      type="button"
      class="btn btn-danger btn-lg"
      href="/removeOrder"
      style="font-weight: bold"
    >
      Remove Order Details
    </a>

    <a
      type="button"
      class="btn btn-success btn-lg"
      href="/email"
      style="font-weight: bold"
    >
      Send Email
    </a>
  </div>
</div>
