<div>
  <!-- <button class="btn btn-success" (click)="getAllOrders()">
    Fetch All Order Details
  </button> -->

  <table
    class="table table-striped table-dark"
    style="margin-top: 30px"
    *ngIf="orderList !== null"
  >
    <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Order Date</th>
        <th scope="col">Quantity</th>
        <th scope="col">Verified ?</th>
        <th scope="col">Picked Up ?</th>
        <th scope="col">Doctor Email</th>
        <th scope="col">Drugs Name</th>
        <th scope="col">Redirect to</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orderList">
        <td>{{ order.orderID }}</td>
        <td>{{ order.orderDate }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.isVerified }}</td>
        <td>{{ order.isPickedUp }}</td>
        <td>{{ order.doctor.email }}</td>
        <td>{{ order.drug.drugName }}</td>
        <td>
          <div class="redirect">
            <button
              class="btn btn-warning btn-sm"
              [routerLink]="['/verifyOrder']"
            >
              Verify
            </button>
            <button
              class="btn btn-warning btn-sm"
              [routerLink]="['/pickupOrder']"
            >
              Pickup
            </button>
            <button
              class="btn btn-success btn-sm"
              [routerLink]="['/createSalesReport']"
            >
              Create Report
            </button>
            <button
              class="btn btn-danger btn-sm"
              [routerLink]="['/removeOrder']"
            >
              Remove
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <a
      routerLink="/admin"
      class="btn btn-danger btn-lg"
      style="font-weight: bold"
      >Admin Portal</a
    >
    <p>Go back to Admin Portal</p>
  </div>
</div>
