<nav
  class="navbar navbar-expand-lg navbar-dark navbar-flex"
  style="height: 125px; background-color: rgb(23, 4, 71)"
>
  <div class="logo-container">
    <img src="../../../assets/mainLogo.png" alt="" />
    <a
      class="navbar-brand"
      href="#"
      style="font-weight: bold; color: rgb(0, 255, 229); margin-left: 18px"
      >PharmEasy</a
    >
  </div>

  <div>
    <button
      class="btn btn-danger"
      style="margin-right: 10px; font-weight: bold; color: black"
      routerLink="/signin"
    >
      Sign In
    </button>
    <button
      class="btn btn-warning"
      routerLink="/register"
      style="font-weight: bold; color: black"
    >
      Register
    </button>
  </div>
</nav>

<div class="icons-container">
  <div class="icons">
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="../../../assets/drugs.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold">Medicines</h5>
        <p class="card-text">The path to wellness starts with a purchase.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="../../../assets/fast delivery.jpg.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold">Superfast Delivery</h5>
        <p class="card-text">Blink, and it's at your doorstep.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="../../../assets/delivery.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold">Safe Delivery</h5>
        <p class="card-text">Your package's safety is our top priority.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="../../../assets/guaranteed 2day delivery.jpg.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold">
          Empowering pharmacies
        </h5>
        <p class="card-text">Where your Prescription meets convenience.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="../../../assets/Registered Suppliers.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold">
          Registered Pharmaceutical Suppliers
        </h5>
        <p class="card-text">Trust in Quality.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="../../../assets/doctors.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold">Certified Doctors</h5>
        <p class="card-text">Masters of Medicine, Architects of Health.</p>
      </div>
    </div>
  </div>
</div>
<div class="bottom-bar">
  <div class="bottom-bar-content">
    <p style="font-weight: bold" style="font-style: italic">
      Contact info: infopharmeasy@gmail.com
    </p>
    <p style="font-weight: bold" style="font-style: italic">
      Admin: Shreyas Kabiraj
    </p>
    <p style="font-weight: bold" style="font-style: italic">
      &copy; 2023 PharmEasy
    </p>
  </div>
</div>
