.form-design {
  display: flex;
  width: 1000px;
  margin-left: 80px;
  column-gap: 20px;
  row-gap: 30px;
}

.image {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 1000px;
  align-items: center;
}

.form-design > div {
  margin-bottom: 10px;
  width: 800px;
}

.button-css {
  margin-top: 10px;
}

.img-container {
  display: flex;
  align-items: center;
  width: 800px;
}
